<div class="employee-form">

  <form #employee="ngForm" novalidate (ngSubmit)="addUser(employee)">
    <p>
      <label>Username</label>
      <input type="text" ngModel #username name="'username'" required />
    </p>
    <p>
      <label>Email</label>
      <input type="email" ngModel #email name="'email'" />
    </p>
    <p>
      <label>Phone</label>
      <input type="text" ngModel #phone name="'phone'" />
    </p>
    <button type="submit">Add User</button>
  </form>

  <p>Username is: {{ username.value }}</p>
  <p>Username is valid : {{ username.valid }}</p>

</div>