

<!-- MomentJS Pipe -->

Moment formatted date "{{ createdOn | moment : 'DD MM YYYY'}}"


<!-- <input type="text" [(ngModel)]="number" />
{{ observeNumber | async }} -->

<!-- <div alert="Hello World!!!">
    this is the alert hello world!!!
</div> -->

<input [(ngModel)]="searchText" type="text" />
<table>
    <tr>
        <th>Country</th>
        <th>Province</th>
        <th>Confirmed</th>
        <th>Deaths</th>
        <th>Recovered</th>
        <th>Updated At</th>
    </tr>
    <!-- <tr *ngFor="let country of counteries | search : searchText"> -->
    <tr *ngFor="let country of counteries">
        <td (click)="showMessage(country.country)">{{country.country | uppercase}}</td>
        <td>{{country.province}}</td>
        <td>{{country.stats.confirmed}}</td>
        <td>{{country.stats.deaths}}</td>
        <td>{{country.stats.recovered}}</td>
        <td>{{country.updatedAt | moment}}</td>
    </tr>
</table>

<div class="chart">
    <canvas baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [legend]="false">
    </canvas>
  </div>