





<!-- MomentJS Pipe -->

Moment formatted date "{{ createdOn | moment : 'DD MM YYYY'}}"


<!-- <input type="text" [(ngModel)]="number" />
{{ observeNumber | async }} -->

<!-- <div alert="Hello World!!!">
    this is the alert hello world!!!
</div> -->

<input [(ngModel)]="searchText" type="text" />
<table>
    <tr>
        <th i18n>Country</th>
        <th i18n>Province</th>
        <th i18n>Confirmed</th>
        <th i18n>Deaths</th>
        <th i18n>Recovered</th>
        <th i18n>Updated At</th>
    </tr>
    <!-- <tr *ngFor="let country of counteries | search : searchText"> -->
    <tr *ngFor="let country of counteries">
        <td (click)="showMessage(country.country)">{{country.country | uppercase}}</td>
        <td>{{country.province}}</td>
        <td>{{country.stats.confirmed | number}}</td>
        <td>{{country.stats.deaths}}</td>
        <td>{{country.stats.recovered}}</td>
        <td>{{country.updatedAt | moment}}</td>
    </tr>
</table>

<div class="chart">
    <canvas baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [legend]="false">
    </canvas>
  </div>